.nav {
  display: flex;
  list-style: none !important;
  align-items: center;
  justify-content: space-evenly;
  height: 50px;
  background: black;
  position: relative;
  z-index: 100;
}

.btn {
  font-size: 18px;
}
